# Virtual environments
.venv/
venv/
env/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Model checkpoints and logs
checkpoints/
*.pt
*.pth
*.log
